@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazirLighter";
  font-weight: lighter;
  src: url("../../public/Fonts/Vazir-Light.woff2");
}

@font-face {
  font-family: "Vazir";
  font-weight: thin;
  src: url("../../public/Fonts/Vazir-Thin.woff2");
}
@font-face {
  font-family: "Vazir";
  font-weight: normal;
  src: url("../../public/Fonts/Vazir-Medium.woff2");
}
@font-face {
  font-family: "Vazir";
  font-weight: bold;
  src: url("../../public/Fonts/Vazir-Bold.woff2");
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: unset;
  margin: 15px 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #8e8e8e;
}
body {
  direction: rtl !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  background-color: #1F1D2B;
}