@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../../public/Fonts/Poppins/PoppinsLatin-Medium.ttf");
}

@font-face {
  font-family: "vazirLighter";
  font-weight: lighter;
  src: url("../../public/Fonts/Vazir-Light.woff2");
}

@font-face {
  font-family: "Vazir";
  font-weight: thin;
  src: url("../../public/Fonts/Vazir-Thin.woff2");
}
@font-face {
  font-family: "Vazir";
  font-weight: normal;
  src: url("../../public/Fonts/Vazir-Medium.woff2");
}
@font-face {
  font-family: "Vazir";
  font-weight: bold;
  src: url("../../public/Fonts/Vazir-Bold.woff2");
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: unset;
  margin: 15px 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #8e8e8e;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  background-color: #1f1d2b;
}
.glass {
  background: rgba(255, 255, 255, 0.014);
  backdrop-filter: blur(1110px);
  border: 1px solid rgb(155, 81, 224);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.text-gradient {
  position: relative;
  background: #3081ed;
  background: linear-gradient(to right, #3081ed 0%, #9b51e0 52%) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 400ms ease;
}

.list-item-hover{
  position: relative;
  cursor: pointer;
  transition: all 300ms ease;
}
.list-item-hover::after{
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #3081ed 0%, #9b51e0 52%);
  transition: all 300ms ease;
  bottom : -3px;
  left: 0;
}
.list-item-hover:hover {
  background: #3081ed;
  background: linear-gradient(to right, #3081ed 0%, #9b51e0 52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-item-hover:hover::after {
  width: 100%;
}
.button-gradient {
  background-color: #3081ed;
  background-image: linear-gradient(to right, #3081ed 0%, #9b51e0 52%);
  background-size: 200%; /* اندازه بزرگتر از نیاز */
  transition: background-position 0.4s ease;
}

.button-gradient:hover {
  background-position: 100%; /* جابه‌جایی به حالت اولیه */
}
.halo {
  width: 200px;
  height: 200px;
  background : transparent;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 50px 20px rgb(155, 81, 224) inset;
}

/* .halo::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 50px 20px rgb(155, 81, 224);
} */

.tag-shadow {
  background: rgba(255, 255, 255, 0.085);
  backdrop-filter: blur(10px);
  box-shadow: inset -8px 8px 5px -6px rgba(252, 252, 252, 0.362);
}
.member-shadow{
  border: 1px solid rgb(81, 114, 224);
  box-shadow: 0 8px 32px 0 rgba(31, 100, 135, 0.37);
}